<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>注册成功-晨师教育</title>
  <link rel="stylesheet" href="/static/css/amazeui.css"/>
  <link rel="stylesheet" href="/static/css/base_def.css"/>
</head>
<body class="cs-bg-eee">
	<div class="cs-bg-fff">
		<div class="kclb-tit"><span>注册成功</span></div>
	</div>

    <div class="am-g cs-bg-fff" style="padding: 20px">
        请下载APP，然后登陆系统！
    </div>
    <div class="am-g cs-bg-fff" style="padding: 20px">
        <input id="bton" type="button" value="马上去下载" onclick="javascrtpt:window.location.href='http://android.myapp.com/myapp/detail.htm?apkName=cm.hetao.chenshi'">
    </div>
</body>
</html>
