{% extends "base.html" %}

{% block js %}
<script type="text/javascript" src="/static/js/utils.js"></script>
<script language="javascript" type="text/javascript">
$(function(){
	{% if success == 'true' %}
	$.messager.alert('提示', '密码修改成功！', 'info');
	{% endif %}
});
</script>
{% endblock %}

{% block breadcrumbs %}公共功能 > 修改密码{% endblock %}
{% block content %}
<form id="fm" method="post" action=".">
	<table class="table-edit" width="100%" cellspacing=0 cellpadding=0 border=0>
	{% csrf_token %}
	{% for field in form %}
		<tr>
			<th>{{field.label_tag}}</th>
			<td>{{field}}<span id="err_{{field.name}}" style="color:red; margin-left:5px"></span><div>{{field.help_text}}</div> {{ field.errors }}</td>
		</tr>
	 {% endfor %}
		<tr>
			<th></th>
			<td><input type="submit" value=" 保  存 "></td>
		</tr>
	</table>
</form>
{% endblock %}
