{% extends "base.html" %}

{% block js %}
<script>
var url;

function save(btn){
	$('#fm').form('submit',{
		url: '/system/feedback/reply/',
		onSubmit: function(){
		    var valid = $.submitValidate('#fm');
		    if(valid) $(btn).linkbutton("disable");
			return valid;
		},
		success: function(result){
			result = eval('('+result+')');
			if (result.success){
				$('#dlg-reply').dialog('close');
				$('#datagrid').datagrid('reload');
			} else {
				$.messager.alert('错误', result.errors, 'error');
			}

			$(btn).linkbutton("enable");
		}
	});
}

function del(){
	var row = $('#datagrid').datagrid('getSelected');
	if (row){
		$.messager.confirm('提醒','确定要删除吗?',function(r){
			if (r){
				$.get('/system/feedback/delete/?id='+row.id,function(result){
					result = eval('('+result+')');
					if (result.success){
						$('#datagrid').datagrid('reload');
					} else {
						$.messager.alert('错误', result.errors, 'error');
					}
				});
			}
		});
	}
}

function reply(){
	var row = $('#datagrid').datagrid('getSelected');
	if (row){
        $('#dlg-reply').dialog('open').dialog('setTitle','回复');
        var row = $('#datagrid').datagrid('getSelected');
        $('#id').val(row.id);
        $('#id_content').textbox('setText', row.reply_content);
	}
}

function formatReply(value,row,index) {
	if(value)
		return value.replace('\n', '<br>');
	else 
		return '';
}

</script>
{% endblock %}

{% block breadcrumbs %}系统管理 > 建议反馈 {% endblock %}
{% block content %}
<table id="datagrid" class="easyui-datagrid"
			url="/system/feedback/data/"
			toolbar="#toolbar"
			pagination="true"
	   		fit="true"
	   		fitColumns="true"
			singleSelect="true"
			pageSize="{{settings.PAGE_SIZE}}"
			idField='id' nowrap="false" striped="true" border="true" rownumbers="true">
    <thead>
        <tr>
            <th field="create_user_text" width="100">帐号</th>
            <th field="type_text" width="50">类别</th>
            <th field="content" width="400">内容</th>
			<th field="create_time" width="120">时间</th>
			<th field="reply_content" width="200" formatter="formatReply">回复</th>
        </tr>
    </thead>
</table>

<div id="toolbar">
    {% if user.is_superuser %}
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="del()">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-smile" plain="true" onclick="reply()">回复</a>
    {% endif %}
</div>

<div id="dlg-reply" class="easyui-dialog" closed="true" buttons="#dlg-buttons">
    {% csrf_token %}
	<form id="fm" method="post" novalidate>
        <input name="content" required id="id_content" class="easyui-textbox" multiline="true" style="width: 400px;height: 200px">
        <input type="hidden" id="id" name="id"/>
	</form>
</div>

<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save(this)">保存</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-reply').dialog('close')">取消</a>
</div>

{% endblock %}
