<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/gray/easyui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
        <style type="text/css">
            .content {
                width: 100%;
                position: absolute;
                top: 20%;
                height: 240px;
                margin-top: -120px;
            }
			body{ background:url(/static/images/registerbg.jpg) center top no-repeat; }
			* {font-size: 12pt; font-weight:normal}
            .content {
                width: 100%;
                position: absolute;
                top: 30%;
                margin-top: -120px;
            }
			.reg-tab-sh{background:#fff;}
			.reg-tab-sh tr th{ line-height:35px; font-size:28px !important; background:#fff; width:100px;  }
			.table-edit th, .table-edit td{ border:1px solid #ddd }
			span{  min-height:30px !important; line-height:30px !important}
			.l-btn-icon{margin-top: -14px;}
			.l-btn-text{ font-size:20px}
            #id_category li{float:left; width:120px}
        </style>
        <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />

	    <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/static/js/jeasyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/static/js/jeasyui/jquery.easyui.checkbox.js"></script>
        <script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/static/js/jeasyui/locale/easyui-lang-zh_CN.js"></script>
	    <script type="text/javascript" src="/static/js/utils.js"></script>
        <script language="javascript" type="text/javascript">
            $(function(){
                $('#id_username').textbox({prompt:"请输入手机号"});
                $('#id_username').validatebox({validType:"mobile"});
            });

            var _countDown = 59;
            var _t = null;
            function sendVCode(btn){
                if( $('#id_username').validatebox('isValid') == false){
                    $.messager.alert('错误', '账号无效，不是一个有效的手机号！', 'error');
                    return;
                }
                $(btn).linkbutton("disable");

                var mobile = $('#id_username').textbox("getValue");
                var url = "/api/mobile_vcode/?mobile="+mobile;
                $.get(encodeURI(url));

                _t = setInterval(function(){
                    $(btn).linkbutton({text: _countDown+"秒后可重发"});
                    _countDown -= 1;
                    if(_countDown == -1){
                        $(btn).linkbutton("enable");
                        $(btn).linkbutton({text: "发送验证码"});
                        clearInterval(_t);
                        _countDown = 59
                    }
                }, 1000);
            }

            function save(btn){
                $('#fm').form('submit',{
                    url: "/system/reset_password/",
                    onSubmit: function(){
                        var valid = $.submitValidate('#fm');
                        if(valid) $(btn).linkbutton("disable");
                        return valid;
                    },
                    success: function(result){
                        result = eval('('+result+')');
                        if (result.success){
                            $.messager.alert('恭喜', '密码重置成功!', 'info', function(){
                                window.location.href = "/agent/";
                            });

                        } else {
                            $.messager.alert('错误', result.errors, 'error');
                        }

                        $(btn).linkbutton("enable");
                    }
                });
            }
        </script>
    </head>

    <body>
        <div class="content">
            <h1 align="center" style="font-size:26px; padding:0 0 20px">重置密码</h1>
            <form id="fm" method="post" action="." enctype="multipart/form-data">
                <div style="padding:40px 20px;  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); background:#fff; width:740px; margin:0 auto 50px; border-radius:10px ">
                    {% csrf_token %}
                    <table class="table-edit reg-tab-sh" width="700px" cellspacing=0 cellpadding=0 border=0>
                    {% for field in form.visible_fields %}
                        <tr>
                            <th>{{field.label_tag}}</th>
                            <td>
                                {{field}}
                                {% if field.name == 'vcode' %}<a href="#" class="easyui-linkbutton" onclick="sendVCode(this)" iconCls="icon-mobile" style="font-size:10px;">发送验证码</a>{% endif %}
                            </td>
                        </tr>
                     {% endfor %}
                        <tr>
                            <th></th>
                            <td><a href="#" class="easyui-linkbutton" onclick="save(this)" iconCls="icon-ok" style="padding:5px 40px; font-size:9pt; background:#3994c7; color:#fff">提交</a></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
	    <div id="indicator" style="display:none;"><div class="info"><img src="/static/images/ajax-loader.gif" align="absmiddle">&nbsp;&nbsp;正在处理,请稍候...</div><div class="mask"></div></div>
    </body>
</html>